<html>
	<head>
		<title>footer</title>
		<link rel="stylesheet" type="text/css" href="../assets/css/footer.css" />
		<link rel="stylesheet" type="text/css" href="../assets/css/link.css" />
	</head>
	<body>
		<div id="footer">
			<p><a href="aboutus.html">AboutUs</a> &nbsp; &nbsp; | &nbsp; &nbsp; <a href="term.html">Term of Use</a> &nbsp; &nbsp; | &nbsp; &nbsp; <a href="privacy.html">Privacy Policy</a> </p>
			<p>Copyright &copy; 2013 Doodle Q & A<p>
			<p>All Rights Reserved.</p>
		</div>
	</body>
</html>
