<html>
	<head>
		<title>header</title>
		<link rel="stylesheet" type="text/css" href="../assets/css/header.css" />
		<link rel="stylesheet" type="text/css" href="../assets/css/link.css" />
	</head>
	<body>
	<div id="header">
		<div id="logo">
			<a href="index.php"> <img class="logo" src="../images/logo.jpg" width="40"></a>
		</div>
		<div id="login">
			<p> 
				<a class="regis" href="register.php">sign up</a> &nbsp; &nbsp; &nbsp; &nbsp;
				<a href="login.php">log in</a>
			</p>
		</div>
		<div id="search">
			<form action="searchresults.php" method="post">
				<fieldset>
				<input type="text" name="search" placeholder="search">
				<input type="submit" value="Search">
				</fieldset>
			</form>
		</div>
	</div>
	</body>
</html>