<html>
	<head>
		<title>menu</title>
		<link rel="stylesheet" type="text/css" href="../assets/css/menu.css" />
		<link rel="stylesheet" type="text/css" href="../assets/css/link.css" />
	</head>
	<body>
		<div id="menu">
			<a href="index.php">Home</a> &nbsp; &nbsp; | &nbsp; &nbsp; <a href="unanswered.php">Unanswerred</a> &nbsp; &nbsp; | &nbsp; &nbsp; <a href="ask.php">Asking</a>
		</div>
		<div id="search">
			<form action="searchresults.php" method="post">
				<fieldset>
				<input type="text" name="search" value="search">
				<input type="submit" value="Search">
				</fieldset>
			</form>
		</div>
	</body>
</html>