body {
	min-width: 1000px;
    	font-family: Arial;
    	color: #363636;
	background : #F7F7FF;
}

p {
	margin:2;
}

canvas {
    background-color: #FFF;
    border: solid thin #CCC;
    border-radius: 4px;
}

.container{
	background: #DDD;
    	border-radius: 10px 10px 10px 10px;
<<<<<<< HEAD
    	margin-left: 75px;
	margin-right: 75px;
=======
    	margin-left: 6%;
	margin-right: 6%;
>>>>>>> f6ed5a856d820c65503c25783b8dd0a0ab57786d
	min-height: 450px;
    	clear: both;
    	padding: 3px 20px;
    	display: block;
}

#contain {
	background : #EEE;
    	border-radius: 10px 10px 10px 10px;
	min-height: 350px;
	clear : both;
	padding: 10px 15px;
	display: block;
}

#contain p {
	color: #363636;
	font-size:16px;
}

.break {
    	clear: both;
}

hr {
	align : center;
	color : #CCC;
	size : 1;
	width : 100%;
}
