#answer {
	clear : both;
}

#jb {
	align : justify;
}

#jb p {
	font-size : 15px;
	color:#334;
}

#jbUser {
	float : left;
	margin-left : 8px;
	font-size : 14px;
	color:#448;
}

#jbDate {
	float : left;
	margin-left : 40px;
	font-size : 14px;
	color:#555;
}