#menu {
	float : left;
	padding: 5px 100px;
}

#menu a {
	color: #55E;
<<<<<<< HEAD
	font-size: 18px;
=======
	font-size: 17px;
>>>>>>> f6ed5a856d820c65503c25783b8dd0a0ab57786d
	font-weight : bold;
}
